<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> Todo-List </h1>
    <a href="/todos">Home</a>
      <p>
      <%= form_tag("/todos/find", method: "get") do %>
        <%= label_tag(:id, "Search by ID #") %>
        <%= text_field_tag(:id) %>
        <%= submit_tag("  Find  ") %>
      <% end %>
      </p>
      <div class="create-tag">
      <%= form_tag("/todos", method: "post") do %>
        <%= label_tag(:body, "Todo new?") %>
        <%= text_field_tag(:body) %>
        <%= submit_tag("Create") %>
      <% end %>
      </div>
  </header>
<%= yield %>
  <footer>
  </footer>
</body>
</html>
