<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> Todo-List </h1>
    <a href="/todos">Home</a>
      <div class="create-tag">
        <%= form_tag("/todos", method: "post") do %>
          <%= label_tag(:body, "What do you need ToDo?") %>
          <%= text_field_tag(:body) %>
          <%= submit_tag("Create") %>
        <% end %>
      </div>
  </header>
<%= yield %>
  <footer>
  </footer>
</body>
</html>
